.App {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
  }
  

.logo{
    height: 7vmin;
    padding:15px;
  
}

.content-wrap{
    display:flex;
    flex-wrap:wrap;
}

.card,
.medium{
    height:auto !important;
    width:555px;
    margin: 10px;
}